<!-- src/template.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <div id="root">
      <br />
      <br />
      <br />
      <img src="../assets/img/logo.svg" alt="logo" width="120px" />
      <h1>Hello world</h1>
      <p>Далеко-далеко за словесными горами в стране.</p>
      <p>Далеко-далеко за словесными горами в стране.</p>
      <p>Далеко-далеко за словесными горами в стране.</p>
      <p>Далеко-далеко за словесными горами в стране.</p>
      <p>Далеко-далеко за словесными горами в стране.</p>
    </div>
  </body>
</html>
