

block variables
  - const Title = "Главная страница"
include /components/BaseButton/index


block content
  .container
    img(src=require('@images/logo.svg'), alt="logo" width="300")
    img(src=require('@images/img.jpg'), alt="logo" width="300")
    img(src=require('@images/img.png'), alt="logo")
    h1 Hello world
    p Далеко-далеко за словесными горами в стране.
