extends layout/index

block variables
  - const Title = "Главная страница"



block content
  img(src=require('@images/logo.svg'), alt="logo" width="300")
  h1 Hello world
  p Далеко-далеко за словесными горами в стране.
  +button('text')
