doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title=htmlWebpackPlugin.options.title || pageTitle

  body(class=bodyClass)
      <br />
      <br />
      <br />
      img(src=require('@images/logo.svg'), alt="logo" width="300")
      h1 Hello world
      p Далеко-далеко за словесными горами в стране.
