mixin button(text, additionalClass, color, type='button', href="#")
  if type === 'a'
    a.button(class=(additionalClass ? additionalClass : '', color ? color : ''), href=href)=text
  if type === 'button'
    button.button(class=(additionalClass ? additionalClass : '', color ? color : ''), href=href)=text
